For Loops
<br/>
<script>
    for (var i = 0; i <= 9; i++) {
        for (var j = 0; j <= 9; j++) {
            // In ra vị trí của ma trận [i][j]
            document.write("([" + i + "][" + j + "])");
        }
        // Xuống hàng
        document.write("<br/>");
    }
</script>
<br/>
While Loops
<script>
    while(check=true){
        document.write("He");
        break;
    }
</script>